@model ProductManagement.Models.ProductManage
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/Master.cshtml";
}
<div class="row">

    <div class="text-center">
        <h2>Welcome @Session["UserName"]!</h2>
    </div>
</div>
