@if (Session["Email"] == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Register", "UserRegistration", "Product", null, null)
        </li>
        <li>
            @Html.ActionLink("Login", "UserLogin", "Product", null, null)
        </li>
    </ul>
}

