@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Muhammed Teli <br />
    Surat or Ahmedabad<br />
    <abbr title="Phone"> Phone :</abbr>
    7878787878
</address>
